<div class="container">

<h2>会員の方はこちらからログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<table>
  <thead>
  </thead>
  <tbody>
    <tr>
      <th><%= f.label :email %></th>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %><td>
    </tr>
    <tr>
      <th><%= f.label :password %></th>
      <td><%= f.password_field :password, autocomplete: "current-password" %></td>
    </tr>
  </tbody>
</table>
<%= f.submit "Log in" %>
    
<% end %>

  <%= render "members/shared/links" %>

</div>
