<div class="back_special" >
  <%= render "layouts/header" %>
  <div class="container">
  
    <h2 class="new_members">新規会員登録</h2>
    <%= render "layouts/error_messages", member: resource %>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <table>
                <thead>
                </thead>
                <tbody>
                    <tr>
                      <th class="session_mem">名前</th>
                      <td class="session_put">(<%= f.label :姓%>)</td>
                      <td width="400" class="session_put"><%= f.text_field :last_name %><span class="just1">(<%= f.label :名%>)</span><span class="just_special"><%= f.text_field :first_name %></span></td>
                    </tr>
                    <tr>
                      <th class="session_mem">フリガナ</th>
                      <td class="session_put">(<%= f.label :セイ %>)</td>
                      <td class="session_put"><%= f.text_field :last_name_kana %><span class="just2">(<%= f.label :メイ %>)<%= f.text_field :first_name_kana %></span></td>
                    </tr>
                    <tr>
                      <th class="session_mem">メールアドレス</th>
                      <td class="session_put"></td>
                      <td class="session_put"><%= f.email_field :email %></td>
                    </tr>
                    <tr>
                      <th class="session_mem">郵便番号</th>
                      <td class="session_put"></td>
                      <td class="session_put"><%= f.text_field :post_number %></td>
                    </tr>
                    <tr>
                      <th class="session_mem">住所</th>
                      <td class="session_put"></td>
                      <td class="session_put"><%= f.text_field :address, size: "40" %></td>
                    </tr>
                    <tr>
                      <th class="session_mem">電話番号(ハイフンなし)</th>
                      <td class="session_put"></td>
                      <td class="session_put"><%= f.text_field :phone_number%></td>
                    </tr>
                    <tr>
                      <th class="session_mem">パスワード(6文字以上)</th>
                      <td class="session_put"></td>
                      <td class="session_put"><%= f.password_field :password, autocomplete: "new-password" %></td>
                    </tr>
                    <tr>
                      <th class="session_mem">パスワード(確認用)</th>
                      <td class="session_put"></td>
                      <td class="session_put"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td> 
                    </tr>  
                </tbody>
              </table>
              <%= f.submit "新規登録", class: "btn btn-success new_mem_btn" %>
          <% end %>
      <h2 class="login_member">既に登録済みの方</h2>
      <p class="login_mem"><%= link_to "こちら", new_session_path(resource_name), class: "link_new" %>からログインしてください。</p>

  </div>
</div>