<h2>注文詳細画面</h2>
<table>
  <tr>
    <th>購入者</th>
    <%= <td>@order.name</td> %>
  </tr>
  <tr>
    <th>配送先</th>
    <%= <td></td> %>
  </tr>
  <tr>
    <th>支払方法</th>
    <%= <td></td> %>
  </tr>
  <tr>
    <th>注文ステータス</th>
    <td>
    <%= form_with(model: order, local: true) do |f| %>
      <%= f.select :status, Order.budget_ds_i18n.keys.map{|k| [I18n.t("enum.order.status.#{k}"), k]}  %>
      <%= f.submit '[更新]' %>
    <% end %>
    </td>
  </tr>
</table>
