<div class="bg-slider">
<%= render "layouts/header" %>
<div class="container">

<div class="row">
    <div class='col-md-3'>
            <table class='table'>
            <tr><h2>ジャンル検索</h2></tr>
            <% @genres.each do |a| %>


            <tr><td><%= link_to a.name , items_path(genre_id: a.id) %></td></tr>

            <% end %>
            </table>
        </div>




        <div class="col-md-9 animation">

        <h1 class="text">ようこそ、Aglicakeへ<br>このサイトは、ケーキ販売のECサイトになります。<br>会員出ない方も商品の閲覧はできますが、<br>購入には会員登録が必要になります。</h1>

    


<h1 class="text-special">オススメ商品</h1>
    <div class ='clearfix'>
    <% @items.each do |item| %>
      <% if item.genre.status == "有効" && item.status == "販売中" %>


      <div class ='item'>
       <%= attachment_image_tag item, :item_image,format: 'jpeg', fallback: "no_image.jpg", size: "130x130" %>
       <br>



       <%= link_to item.name, item_path(item.id) %>
       <br>


        ¥<%= item.excluded %>
      </div>

        <% end %>
        <% end %>
        <p><%= link_to "もっと見る",  items_path %></p>
    </div>
    </div>
    </div>
</div>
</div>
</div>



<%= link_to "adminのログインへ",  new_admin_session_path %>
 </div>
</div>



