<h1><%=@member.last_name%><%=@member.first_name%>さんの会員情報編集</h1>
<%= render "layouts/error_messages", member: @member %>
<%= form_for(@member, url: admins_member_path(@member.id))do |f| %>

    <h3>顧客ID<%=@member.id%></h3>
    <div class="field">
      <%= f.label :姓%><br />
      <%= f.text_field :last_name %>
    </div>
  
    <div class="field">
      <%= f.label :名 %><br />
      <%= f.text_field :first_name %>
    </div>
  
    <div class="field">
      <%= f.label :セイ %><br />
      <%= f.text_field :last_name_kana %>
    </div>
  
    <div class="field">
      <%= f.label :メイ %><br />
      <%= f.text_field :first_name_kana %>
    </div>
  
    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email %>
    </div>
  
    <div class="field">
      <%= f.label :郵便番号 %><br />
      <%= f.text_field :post_number %>
    </div>
  
    <div class="field">
      <%= f.label :住所 %><br />
      <%= f.text_field :address %>
    </div>
  
    <div class="field">
      <%= f.label :電話番号 %><br />
      <%= f.text_field :phone_number%>
    </div>
     
    <label><%=f.radio_button :status, "有効会員"%>有効会員</label>
    <label><%=f.radio_button :status, "無効会員"%>無効会員</label>

    <div class="form">
      <%= f.submit "変更を保存する" %>
    </div>
<% end %>