<%= render "layouts/header" %>

<div class='container'>


<div class='col-md-6 col-md-offset-3'>
<h2>商品詳細</h2>
<!-- form_for部分 -->
<%= render "layouts/item_error_messages", item: @item %>
<%= form_for @item, url: admins_items_path do |f| %>

<tr><%= attachment_image_tag @item, :item_image,format: 'jpeg', fallback: "no_image.jpg", size: "300x300" %></tr>

<p>
  <strong>商品名：</strong>
  <%= @item.name %>
</p>

<p>
  <strong>商品説明：</strong>
  <%= @item.explanation %>
</p>
<p>
  <strong>ジャンル：</strong>
  <%= @genre.name %>
</p>

<p>
  <strong>税込価格：</strong>
   <%=  (BigDecimal(@item.excluded) * BigDecimal("1.1")).floor %>円

</p>

<p>
  <strong>販売ステータス：</strong>
  <%= @item.status %>
</p>

<%= link_to '編集する', edit_admins_item_path(@item)%>

<% end %>

</div>
</div>