<div class="back">
  <%= render "layouts/header" %>
  <div class="container">

    <h1 class="shipping"> 配送先編集 </h1>
    <%= render "layouts/error_shipping", member: @shipping %>
    <%= form_for @shipping do |f| %>
        <table>
          <tbody>
            <tr>
              <th width="200" height="50"><%= f.label :郵便番号 %></th>
              <td><%= f.text_field :post_number, class: "form-control" %></td>
            </tr>
            <tr>
              <th height="50"><%= f.label :住所 %></th>
              <td><%= f.text_field :delively_address, class: "form-control" %></td>
            </tr>
            <tr>
              <th height="50"><%= f.label :宛名 %></th>
              <td><%= f.text_field :delively_name, class: "form-control" %></td>
            </tr>
            <tr>
              <th></th>
              <td></td>
              <td><%= f.submit "編集する", class: "btn btn-primary reg_btn" %><td>
            </tr>
          </tbody>
        </table>
    <% end %>
    
  </div>
</div>