
<div class='container'>
<%= notice %>



<div class='row'>
<div class='col-xs-3'>
<table class='table'>
<tr><h2>ジャンル検索</h2></tr>
<% @genres.each do |a| %>


<tr><td ><%= link_to a.name , items_path(genre_id: a.id) %></td></tr>

<% end %>
</table>
</div>

<div class='col-xs-9'>
<h1><%= @genre.name %>一覧</h1>
    <div class ='clearfix'>
    <% @items.each do |item| %>
      <% if item.genre.status == "有効" && item.status == "販売中" %>


      <div class ='item'>
       <%= attachment_image_tag item, :item_image,format: 'jpeg', fallback: "no_image.jpg", size: "200x200" %>
       <br>



       <%= link_to item.name, item_path(item.id) %>
       <br>


        ¥<%= item.excluded %>
      </div>

        <% end %>
        <% end %>
    </div>




</div>
</div>
</div>

<%= paginate(@items) %>