<div class="back" >
<%= render "layouts/header" %>
<div class='container'>



<div class='col-md-6 col-md-offset-3'>

<h2>ジャンル検索</h2>
<% @genres.each do |a| %>
<%= link_to a.name , items_path(genre_id: a.id) %>
<% end %>

<h1><%= @genre.name %>一覧</h1>
      <table>
        <tr>
          <th></th>

          <th>商品名</th>
          <th>税抜価格</th>
        </tr>

        <% @items.each do |item| %>
          <% if item.genre.status == "有効" && item.status == "販売中" %>

          <tr>
            <td><%= attachment_image_tag item, :item_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %></td>
            <td><%= link_to item.name, item_path(item.id) %></td>
            <td><%= item.excluded %></td>
          </tr>
        <% end %>
        <% end %>


</table>
</div>
</div>

<%= paginate(@items) %>
</div>