<h2>注文詳細画面</h2>
<table>
  <tr>
    <th>購入者</th>
      <td><%= @order.member.last_name %><%= @order.member.first_name %></td>
  </tr>
  <tr>
    <th>配送先</th>
    <td><%= @order.delivery_address %>

  </tr>
  <tr>
    <th>支払方法</th>
    <td><%= @order.payment_methods %></td>
  </tr>
  <tr>
    <th>注文ステータス</th>
    <td>
      <%= form_with( local: true, url: admins_order_path(@order.id), method: :patch) do |f| %>
        <%= f.select :status, options_for_select(Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k ]}) %>
        <%= f.submit '[更新]' %>
      <% end %>
    </td>
  </tr>
</table>




<%
=begin%>
 <table>
  <tr>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
    <th>制作ステータス</th>
  </tr>

  <% @order.order_items.each do |order_item| %>
  <tr>
  <td><%= order_item.item.name %></td> 

  </tr>
  <% end %>
</table> 
<%
=end%>
