<%= link_to "logout", destroy_member_session_path, method: :delete %>
<%= form_for(@member) do |f| %>
  <div class="field">
    <%= f.label :姓%><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :名 %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :セイ %><br />
    <%= f.text_field :last_name_kana %>
  </div>

  <div class="field">
    <%= f.label :メイ %><br />
    <%= f.text_field :first_name_kana %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :郵便番号 %><br />
    <%= f.text_field :post_number %>
  </div>

  <div class="field">
    <%= f.label :住所 %><br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :電話番号 %><br />
    <%= f.text_field :phone_number%>
  </div>

  <div class="form">
    <%= f.submit "Update User" %>
  </div>
<% end %>
<%= link_to "退会する", "/members/status" %>
